.directors-index {

  li > header {
    margin-bottom: 7px;
  }

  footer {
    a {
      margin-top: 10px; 
      margin-bottom: 0px;
    }
  }
}

.director-show {
  margin-bottom: 14px;

  aside {
    margin: 1.250em 0 0 0;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.director-title {
  font-size: 1.125em;
}